<!DOCTYPE html>
<html>
  <head>
    <title>Ticketac | Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Navbar -->
    <%- include('nav'); %>

    <div class="container"> 
        <div class="row">
            <div class="col-6">
                <h2 id="titreHomePage">My tickets  : </h2>
            </div>
            <div class="col-12">
                <table class="table table-borderless table-striped table-panier">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Journey</th>
                            <th>Date</th>
                            <th>Departure time</th>
                            <th>Price</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < panier.length; i++) { %>
                            <tr>
                                <th><%= i%></th>
                                <th><%= panier[i].departure%> / <%= panier[i].arrival%></th>
                                <th><%= panier[i].date%></th>
                                <th><%= panier[i].departureTime%></th>
                                <th><%= panier[i].price%> €</th>
                            </tr>
                        <% } %>         
                    </tbody>
                    <tfoot style="background-color: #d63031;">
                        <th>Total</th>
                        <th></th>
                        <th></th>
                        <th></th>
                        <th>90€</th>
                    </tfoot>
                </table>
                <a href=""><input type="button" class="btn btn-danger" value="Confirm"></a>
            </div>
        </div>
        
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>