<!DOCTYPE html>
<html>
  <head>
    <title>Ticketac | Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <!-- Navbar -->
    <%- include('nav'); %>

    <div class="container"> 
        <div class="row">
            <div class="col-6">
                <h2 id="titreHomePage">Tickets available on <%= %>  : </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-10">
                <ul class="list-group">
                    <% for (let i = 0; i < resultatPositif.length; i++) { %>
                        <li class="list-group-item d-flex justify-content-between align-items-center list-billet">
                            <%= resultatPositif[i].departure %>  / <%= resultatPositif[i].arrival %> 
                            <small>Train departure at : <%=  resultatPositif[i].departureTime %></small> 
                            <%= resultatPositif[i].price %> €
                            <a href="/panier?id=<%= resultatPositif[i]._id %>&departure=<%= resultatPositif[i].departure %>&arrival=<%= resultatPositif[i].arrival %>&departureTime=<%= resultatPositif[i].departureTime %>&date=<%= resultatPositif[i].date%>&price=<%= resultatPositif[i].price%>&quantity=<%= resultatPositif[i].quantity%>"><input type="button" class="btn btn-danger" value="OK"></a>
                        </li>
                    <% } %> 
                </ul>
            </div>
        </div>
    </div>
    
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>